<!-- Menu -->
<nav id="menu">
    <ul class="links">
        <li><a href="{{ url_for('home_blueprint.home') }}">Home</a></li>
        <li><a href="{{ url_for('websites_blueprint.websites') }}">Websites</a></li>
        <li><a href="{{ url_for('about_blueprint.about') }}">About</a></li>
        <li><a href="{{ url_for('contact_blueprint.contact') }}">Contact</a></li>
        <li><a href="{{ url_for('support_blueprint.support') }}">Support</a></li>
        <li><a href="{{ url_for('hosting_blueprint.hosting') }}">Hosting</a></li>
        <li><a href="{{ url_for('server_blueprint.server') }}">Server Setup</a></li>

        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('users_blueprint.dashboard') }}">Dashboard</a></li>
        {% endif %}
    </ul>
    <ul class="actions stacked">
        <li><a href="#" class="button primary fit">Get Started</a></li>
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('logout') }}" class="button fit">Log Out</a></li>
        {% else %}
          <li><a href="{{ url_for('users_blueprint.login') }}" class="button fit">Log In</a></li>
        {% endif %}
    </ul>
</nav>