<!-- Menu -->
<nav id="menu">
    <ul class="links">
        <li><a href="{{ url_for('home_blueprint.index') }}">Home</a></li>
        <li><a href="#">Websites</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">Hosting</a></li>
        <li><a href="#">Server Setup</a></li>

        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('users_blueprint.dashboard') }}">Dashboard</a></li>
        {% endif %}
    </ul>
    <ul class="actions stacked">
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('auth_blueprint.logout') }}" class="button fit">Log Out</a></li>
        {% else %}
          <li><a href="{{ url_for('auth_blueprint.login') }}" class="button fit">Log In</a></li>
        {% endif %}
    </ul>
</nav>