{% extends "layouts/base.html" %}

{% block title %}Login | Isak Landin{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/subpages.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}

<!-- Header -->
		{% include 'components/menu.html' %}

<section class="radial-dark-section hero-condensed">
  <div class="login-wrapper">
    <div class="login-card">
      <h2>Login</h2>
      <div class="hero-marker"></div>

      <form method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Log In</button>
      </form>

      <p class="login-footer">
        No account? <a href="{{ url_for('auth_blueprint.register') }}">Register here</a>
      </p>
    </div>
  </div>
</section>
{% endblock %}
