{# templates/order_history.html #}
{% extends "layouts/dashboard_content_base.html" %}

{% block page_title %}Order History{% endblock %}

{# HERO #}
{% block hero_title %}Order History{% endblock %}
{% block hero_actions %}{% endblock %}
{% block hero_meta %}
  <span class="text-mute">A list of your completed purchases will appear here.</span>
{% endblock %}

{# BODY #}
{% block page_content %}
  <div class="empty-state">
    <div class="emoji">📦</div>
    <p class="empty-text">You haven’t made any purchases yet.</p>
    <a href="{{ url_for('store_blueprint.store') }}" class="button primary">Visit Store</a>
  </div>
{% endblock %}

{% block extra_css %}{{ super() }}{% endblock %}
{% block extra_js %}{{ super() }}{% endblock %}
